<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCrO8OMnxz6NTE2UlvJnfy-W2FwOJT2xp0</string>
	<key>GCM_SENDER_ID</key>
	<string>115377185776</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ledColorPicker</string>
	<key>PROJECT_ID</key>
	<string>smart-mirror-4f0dd</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-mirror-4f0dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:115377185776:ios:ceff6fab519258e1c4b335</string>
	<key>DATABASE_URL</key>
	<string>https://smart-mirror-4f0dd-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>